 @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

 body {
     font-family: Arial, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
     background-color: #1e1c27;
     font-family: "Outfit", sans-serif;
     color: white;
 }

 #captchaContainer {
     text-align: center;
 }

 #captchaInput {
     margin-top: 10px;
     padding: 5px;
     font-size: 16px;
 }

 #refreshButton {
     cursor: pointer;
     color: skyblue;
     text-decoration: underline;
     margin-top: 10px;
 }

 #result {
     margin-top: 10px;
 }